body {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    position: relative;
}
header {
    position: absolute;
    width: 100%;
    flex-flow: column;
}
header > h1 {
    margin-top: 0;
}
nav > * {
    margin-right: 2rem;
}
nav a {
    text-decoration: underline;
    text-decoration-style: dotted;
}
footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}
footer > * {
    align-items: center;
    margin-right: 2rem;
}
footer > p {
    padding: 0;
    margin: 0;
}
main {
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    overflow: auto;
    box-sizing: border-box;
}